{{ ansible_managed | comment }}
[Unit]
Description=Grafana Loki
Documentation=https://github.com/grafana/loki
After=network-online.target

[Service]
Type=simple
User={{ loki_system_user }}
Group={{ loki_system_group }}
ExecStart={{ loki_binary_install_dir }}/loki -config.file {{ loki_config_dir }}/{{ loki_config_file }}
SyslogIdentifier=loki
Restart=always
RestartSec=30
LimitNOFILE={{ loki_limit_nofile | default('8192') }}
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
